/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    background: url(../img/weather-backgr.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

h1, h3 {
  font-weight: lighter;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-family: Consolas, Arial, sans-serif;
}

input {
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  text-align: right;
  padding-right: 3px;
  width: 80%;
}

button, .button {
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  background-color: darkblue;
  color: white;
  width: 85px;
  height: 24px;
}

.button {
  text-decoration: none;
  font: 400 13.3333px Arial;
  text-align: center;
  border: 2px outset buttonface;
  height: 17px;
  padding-top: 3px;
}

button:hover,
.button:hover {
  cursor: pointer;
  background-color: deepskyblue;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-align: left;
  text-shadow: 3px 3px 3px black;
  color: white;
  padding-left: 10%;
  margin: 0;
}

span {
  text-align: left;
  text-shadow: 3px 3px 3px black;;
  color: white;
  margin: 0;
}

/* Styling for the grid */
/* ******************** */
body {
  box-sizing: border-box;
}

div.container {
  /* additional styles */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 18px;
}

.column {
  float: left;
}

.row {
  width: 100%;
  display: inline-flex;
  margin-bottom: 20px;
}

.column.col1 {
  width: 8.33%;
}

.column.col2 {
  width: 16.66%;
}

.column.col3 {
  width: 25.00%;
}

.column.col4 {
  width: 33.33%;
}

.column.col5 {
  width: 41.66%;
}

.column.col6 {
  width: 50.00%;
}

/* for clearing the float */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* responsive */
@media (max-width: 930px) {
  div.container {
    width: 85%;
  }
}

@media (max-width: 700px) {
  div.container {
    width: 90%;
  }
  div.empty {
    display: none;
  }
}

@media (max-width: 650px) {
  div.container {
    width: 100%;
  }
}

