<h3>{{title}}</h3>

<div class="container">
  <div class="row" id="header">
    <div class="column col3"></div>
    <div class="column col6">
      <div class="cell"><p>Date</p></div>
      <div class="cell"><p>Time</p></div>
      <div class="cell"><p>Value</p></div>
    </div>
    <div class="column col3"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="container" style="margin-top: 0;">
  <div class="row">
    <div class="column col3"></div>
    <div class="column col6">
      <div class="scroll-box">
        <table>
          <tbody>
            <tr *ngFor="let measurement of measurementSource">
              <td>{{measurement.timeStamp  | date: 'dd.MM.yyyy'}}</td>
              <td>{{measurement.timeStamp | date: 'HH:mm:ss'}}</td>
              <td class="value">
                {{measurement.measuredValue}} {{unitMeasurement}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="column col3"></div>
  </div>
  <br class="clearfix"/>
  <div class="row">
    <div class="column col5"></div>
    <div class="column col2" id="back-button">
      <div class="button"><a [routerLink]="['../../main']">Go back</a></div>
    </div>
    <div class="column col5"></div>
  </div>
</div>
