table, thead, tbody {
  width: 100%;
}

th {
  border: 2px solid silver;
  background-color: gray;
  box-shadow: 2px 2px 2px black;
  border-radius: 3px;
  margin: 2px;
  color: white;
}

td {
  width: 33.33%;
  text-align: center;
  color: rgb(45, 43, 44);
  font-size: 14px;
}

p {
  width: 100%;
  text-align: center;
  padding: 2px;
  margin-left: 6px;
}

div.button {
  width: 75%;
  text-align: center;
  margin-left: 25%;
}

.scroll-box {
  background: #DEE3F9;
  color:  #1F3658;
  font-size: 16px;
  height: 200px;
  overflow: auto;
  width: 100%;
  border: 3px solid darkgrey;
  box-shadow: 4px 4px 5px black;
  border-radius: 5px;
  padding: 10px;
}

.container {
  margin-top: 5%;
  width: 60%;
}

.value {
  text-align: right;
  color: darkblue;
  padding-right: 7%;
}

.cell {
  width: 33.33%;
  float: left;
}

#back-button {
  text-align: center;
}

#header {
  margin-bottom: 3px;
}

/* responsive */
@media (max-width: 930px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 790px) {
  .container {
    width: 90%;
  }
  .column.col3 {
    width: 0;
  }
  .column.col6 {
    width: 95%;
  }
  div.button {
    width: 100%;
    margin-left: 5%;
  }
  #back-button {
    width: 33%;
  }
}

@media (max-width: 350px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .value {
    padding-right: 0;
  }
  .scroll-box {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }
}

@media (max-width: 250px) {
  .container {
    width: 100%;
  }
  .body {
    margin: 0;
  }
  #back-button {
    width: 50%;
  }
  td {
    font-size: 12px;
  }
}
