<h3>{{title}}</h3>

<div class="container">
  <div class="row">
    <div class="column col3"></div>
    <div class="column col6">
      <div class="scroll-box">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let measurement of measurementSource">
              <td>{{measurement.timeStamp  | date: 'dd.MM.yyyy'}}</td>
              <td>{{measurement.timeStamp | date: 'HH:mm:ss'}}</td>
              <td>{{measurement.measuredValue}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    <div class="column col3"></div>
  </div>
  <br class="clearfix"/><br/>
  <div class="row">
    <div class="column col5"></div>
    <div class="column col2" id="back-button">
      <div class="button"><a [routerLink]="['../../main']">Go back</a></div>
    </div>
    <div class="column col5"></div>
  </div>
</div>
