Req. 9: „Ewige Historie“ für Luftdruck und Temperatur  1. Die Historie aller Messwerte wird parallel gespeichert und
  wird beim Laden der Anwendung wieder eingelesen. Messwerte werden somit über Programm-Start/Stopp-Grenzen hinweg angezeigt
Req. 10: Implementation of the sidebar

 // TODO remove Ui-initialization method 'pushUnitValuesForInitialLoading()' in SettingsService
