<div class="container">
  <div class="row">
    <div class="column col2"></div>
    <div class="column col3"><p>Barometic pressure:</p></div>
    <div class="column col2"><input type="text" value="{{currentPressure}}" disabled/></div>
    <div class="column col1"><span>mBar</span></div>
    <div class="column col2"><button (click)="measurePressure()">measure</button></div>
  </div>
  <br class="clearfix" />
  <div class="row">
    <div class="column col2"></div>
    <div class="column col3"><p>Barometic pressure trend:</p></div>
    <div class="column col2"><input type="text" value="{{trendPressure}}" disabled/></div>
    <div class="column col1"><span>mBar</span></div>
  </div>
  <br class="clearfix" />
</div>

