.arrow {
  font-size: 2.0rem;
  font-weight: bolder;
  padding-left: 10px;
}

#arrow-box {
  margin-top: -10px;
}

a {
  width:inherit;
  height: inherit;
}

/* responsive */
@media (max-width: 560px) {
  div.column.col2 {
    margin-left: 10%;
    width: 10%;
  }
  div.column.col1 {
    margin-left: 10%;
  }
  span.arrow, div.column.col3, div.column.col1 {
    font-size: 14px;
  }
  input {
    font-size: 10px;
    width: 100%;
  }
  div.unit {
    text-align: right;
  }
  a, button {
    font-size: 10px;
    width: 55px;
  }
  div.column.col2.btn,
  div.button {
    width: 55px;
  }
}

