<div class="container"
  [ngStyle]="{'width': !sidebarDisplayed ? '100%' : '70%'}">
  <div class="row">
    <div class="column col2 empty"></div>
    <div class="column col3"><p>Date:</p></div>
    <div class="column col2"><input type="text" value="{{dateTime | date:'dd.MM.yyyy'}}" disabled></div>
  </div>
  <div class="row">
    <div class="column col2 empty"></div>
    <div class="column col3"><p>Time:</p></div>
    <div class="column col2"><input type="text" value="{{dateTime | date: 'HH:mm:ss'}}" disabled></div>
  </div>
  <br class="clearfix"/>
</div>
