<div class="container">
  <div class="row">
    <div class="column col2"></div>
    <div class="column col3"><p>Date:</p></div>
    <div class="column col2"><input type="text" value="{{dateTimeObject | date:'dd.MM.yyyy'}}" disabled></div>
  </div>
  <div class="row">
    <div class="column col2"></div>
    <div class="column col3"><p>Time:</p></div>
    <div class="column col2"><input type="text" value="{{dateTimeObject | date: 'HH:mm:ss'}}" disabled></div>
  </div>
  <br class="clearfix"/>
</div>
